@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container {
  padding: 0 2rem;
  margin: auto;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.listpage {
  .search {
    @apply flex justify-center mb-8;
    &__input {
      @apply border-2 border-sky-300 rounded mr-2 py-1 px-2;
    }
    &__button {
      @apply border py-1 px-2;
    }
  }

  .pagination {
    @apply flex justify-center gap-2 mb-2;
    &__page {
      @apply py-2 px-4 rounded bg-sky-600 text-white;
      &--active {
        @apply bg-sky-700;
      }
    }
  }

  .products {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4;
  }

  .product {
    @apply py-2 px-4 border rounded border-sky-600 flex flex-col gap-4;
    &__image {
      @apply flex justify-center items-center relative h-80;
    }
    &__title {
      @apply text-2xl;
    }
    &__price {
      @apply text-gray-500;
    }
    &__link {
      @apply text-sky-500 hover:underline;
    }
  }
}

.detailpage {
  .product {
    @apply grid grid-cols-1 md:grid-cols-2 gap-4;
    &__info {
      @apply flex flex-col gap-2;
    }
    &__image {
      @apply flex justify-center items-center relative h-96 md:h-full;
    }
    &__title {
      @apply mb-2 text-2xl;
    }
    &__price {
      @apply text-gray-500;
    }
    &__tags {
      @apply flex flex-wrap gap-2;
      &__item {
        @apply text-sky-600 border border-sky-600 rounded p-1 text-xs;
      }
    }
  }
}
